body {
   background-color: #444;
   color: #aaa;
   font-size: 32px !important;
}

* {
   font-family: 'Lato', sans-serif !important;
   font-weight: 100;
}

.hidden {
	display: none;
}

#export,#download{
	z-index: 999;
}

#v2-download a {
	color: #fff;
   padding: 24px;
   background-color: #444;
   color: #aaa;
   bottom: 0;
   right: 0;
}

input {
	width: auto;
}

#canvas {
	width: 100vw;
	height: 70vh;

	border: 1px solid black;

}

#canvas, svg {
	z-index:-1;
}

body, html {
   overflow: hidden;
   height: 100vh;
}


#v2-text_input-container,
#v2-canvas {
   width: 100vw;
   height: 100vh;
   position: absolute;
   top: 0;
   left: 0;
}

#v2-text_input-container{
   background-color: rgba(0,0,0,0.3);
   color: #aaa;
   z-index: 2;
   pointer-events: none;
}

#v2-canvas {
   z-index: 0;
   color: #aaa;
   z-index: 1;
}


#v2-text_input {
   display: block;
   height: auto;
   text-align: center;
   width: 50%;
   margin-left: 25%;
   font-size: 64px;

}

#text_input {
	height: 15vh;
	overflow-y: scroll;
}


#v2-download {
   position: absolute;
   bottom: 32px;
   right: 16px;
   z-index: 3;
   text-align: right;
   display: block;
   width: 100vw;
   font-size: 16px !important;

   a {
      text-decoration: none;
      color: white;
   }
}


.text {
   display: none;

}

.box {
   cursor: grab;
}







input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  min-width:80px;
  max-width:200px;
  margin: 4.05px 0;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.7px;
  border: 0px solid #ffffff;
}
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.05px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.7px;
  border: 0px solid #ffffff;
}
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid #ffffff;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
}
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 2.9px;
}
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
