/* line 1, ../scss/app.scss */
body {
  background-color: #444;
  color: #aaa;
  font-size: 32px !important;
}

/* line 7, ../scss/app.scss */
* {
  font-family: 'Lato', sans-serif !important;
  font-weight: 100;
}

/* line 12, ../scss/app.scss */
.hidden {
  display: none;
}

/* line 16, ../scss/app.scss */
#v2-download a {
  color: #fff;
  padding: 24px;
  background-color: #444;
  color: #aaa;
  bottom: 0;
  right: 0;
}

/* line 25, ../scss/app.scss */
input {
  width: auto;
}

/* line 29, ../scss/app.scss */
svg {
  z-index: -1;
}

/* line 33, ../scss/app.scss */
body, html {
  overflow: hidden;
  height: 100vh;
}

/* line 39, ../scss/app.scss */
#v2-text_input-container,
#v2-canvas {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
}

/* line 48, ../scss/app.scss */
#v2-text_input-container {
  background-color: rgba(0, 0, 0, 0.3);
  color: #aaa;
  z-index: 2;
  pointer-events: none;
}

/* line 55, ../scss/app.scss */
#v2-canvas {
  color: #aaa;
  z-index: 0;
  background-color: #444;
}

/* line 62, ../scss/app.scss */
#v2-text_input {
  display: block;
  height: auto;
  text-align: center;
  width: 50%;
  margin-left: 25%;
  font-size: 64px;
}

/* line 72, ../scss/app.scss */
#v2-download {
  position: absolute;
  bottom: 32px;
  right: 16px;
  z-index: 3;
  text-align: right;
  display: block;
  width: 100vw;
  font-size: 16px !important;
}
/* line 82, ../scss/app.scss */
#v2-download a {
  text-decoration: none;
  color: white;
}

/* line 88, ../scss/app.scss */
.text {
  display: none;
}

/* line 92, ../scss/app.scss */
.box {
  cursor: pointer;
}

/* line 96, ../scss/app.scss */
.invisible-input {
  border: none;
  z-index: -1;
}

/* line 101, ../scss/app.scss */
input[type=range] {
  -webkit-appearance: none;
  width: 50%;
  min-width: 80px;
  max-width: 200px;
  margin: 4.05px 0;
}

/* line 108, ../scss/app.scss */
input[type=range]:focus {
  outline: none;
}

/* line 111, ../scss/app.scss */
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.7px;
  border: 0px solid #ffffff;
}

/* line 120, ../scss/app.scss */
input[type=range]::-webkit-slider-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -4.05px;
}

/* line 131, ../scss/app.scss */
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

/* line 134, ../scss/app.scss */
input[type=range]::-moz-range-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
  background: #ffffff;
  border-radius: 1.7px;
  border: 0px solid #ffffff;
}

/* line 143, ../scss/app.scss */
input[type=range]::-moz-range-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
}

/* line 152, ../scss/app.scss */
input[type=range]::-ms-track {
  width: 100%;
  height: 2.9px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}

/* line 160, ../scss/app.scss */
input[type=range]::-ms-fill-lower {
  background: #f2f2f2;
  border: 0px solid #ffffff;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
}

/* line 166, ../scss/app.scss */
input[type=range]::-ms-fill-upper {
  background: #ffffff;
  border: 0px solid #ffffff;
  border-radius: 3.4px;
  box-shadow: 1px 1px 1px transparent, 0px 0px 1px rgba(13, 13, 13, 0);
}

/* line 172, ../scss/app.scss */
input[type=range]::-ms-thumb {
  box-shadow: 1px 1px 1px rgba(255, 255, 255, 0), 0px 0px 1px rgba(255, 255, 255, 0);
  border: 0px solid rgba(255, 255, 255, 0);
  height: 11px;
  width: 11px;
  border-radius: 0px;
  background: #ffffff;
  cursor: pointer;
  height: 2.9px;
}

/* line 182, ../scss/app.scss */
input[type=range]:focus::-ms-fill-lower {
  background: #ffffff;
}

/* line 185, ../scss/app.scss */
input[type=range]:focus::-ms-fill-upper {
  background: #ffffff;
}
